<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <!-- <meta http-equiv="Content-Security-Policy" content="frame-src youtube.com www.youtube.com"> -->
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/hero-section.css">
  <link rel="stylesheet" href="/css/section--2.css">
  <link rel="stylesheet" href="/css/section--3.css">
  <link rel="stylesheet" href="/css/section--4.css">
  <link rel="stylesheet" href="/css/section--5.css">
  <link rel="stylesheet" href="/css/footer.css">
  <!-- <link rel="shortcut icon" href="/image/favicon-16x16.png" type="image/x-icon"> -->
   <link rel="shortcut icon" href="/image/looo.png" type="image/x-icon">
  <title>The Best AI Agent Platform Revolutionize customer service with AI Agents | Voxover AI</title>
</head>
<body>

  <header class="header">
    <nav class="header__navbar">
      <div class="header__logo-container">
          <a href="/" class="header__logo">
            <img src="/image/looo.png" alt="Voxover AI Logo">
          </a>
  
          <a href="/" class="header__company">
            <span class="header__company-name">Voxover AI</span>
          </a>
      </div>

      <div class="header__cta header__btns--lg">
        <ul class="header__lists">
          <li><a href="#voxover-in-action">Voxover in action</a></li>
          <li><a href="#how-it-works">how it works</a></li>
          <li><a href="#use-cases">use cases</a></li>
        </ul>

        <div class="header__btns close">
          <a href="#contact-us" class="btn btn--ctn-sales close">CONTACT US</a>
          <!-- <a href="" class="btn btn--log-in">LOG IN</a> -->
        </div>
      </div>

      <div class="header__cta header__btns--md">
        <button class="btn btn--close close" type="button">&#10007;</button>
        <ul class="header__lists">
          <li><a href="#voxover-in-action" class="close">Voxover in action</a></li>
          <li><a href="#how-it-works" class="close">how it works</a></li>
          <li><a href="#use-cases" class="close">use cases</a></li>
        </ul>

        <div class="header__btns close">
          <a href="#contact-us" class="btn btn--ctn-sales">CONTACT US</a>

        </div>
      </div>

      <div class="hamburger burger-animation">
        <div class="hamburger--1 hamburger--box burger-animation"></div>
        <div class="hamburger--2 hamburger--box burger-animation"></div>
        <div class="hamburger--3 hamburger--box burger-animation"></div>
      </div>
    </nav>
  </header>



<main class="main">
  <!-- Hero Section -->

  <section class="hero section section--1 section--hero">
    <div class="hero-section__details">
    <h1>
    <span class="span-1" id="app">Revolutionize your</span>
    <span class="span-2">customer services with</span>
    <span class="span-3">AI Agents</span>
    </h1>
    
    <div class="hero__paragraph">
      <p class="hero__paragraph--1">Discover the innovative way to automate your customer services</p>
    <p class="hero__paragraph--2">with our instant AI agents at scale</p>
    <div class="hero__btn-cta">
    <!-- <a href="" class="btn btn--free btn--log-in">Try for free</a> -->
    <a href="#contact-us" class="btn btn--ctn-sales">contact us</a>
    </div>
    </div>
    </div>
    </section>

    <!-- Section--2 Voxover Section -->
<section class="section section--2 section--voxoverinaction spacing" id="voxover-in-action">
  <!-- <div class="section--2__bg"></div> -->
  <h2 class="section--2__heading">Voxover in action</h2>
  <div class="section--2__flex">
  
  <div class="section--2__banner">
  <iframe class="iframe" src="https://www.youtube.com/embed/CWgbphDtJJQ?autoplay=1&mute=1" width="560" height="315" title="Voxover Youtube" frameborder="0" allowfullscreen></iframe>
  </iframe>
  </div>
  <article class="section--2__grid">
  <div class="section--2__card current" data-val="1">
  <span data-val="1" class="section--2__iframe-link-1" data-yt="https://www.youtube.com/embed/CWgbphDtJJQ?autoplay=1&mute=1">Customer Satisfaction Survey (Outbound)</span>
  <img data-val="1" src="/image/icons8-satisfaction-50.png" alt="">
  </div>
  
  <div class="section--2__card" data-val="2">
  <span data-val="2" class="section--2__iframe-link-2" data-yt="https://www.youtube.com/embed/1aM1KYvl4Dw?autoplay=1&mute=1">Book an Appointment (Inbound)</span>
  <img data-val="2" src="/image/icons8-appointment-64.png" alt="">
  </div>
  
  <div class="section--2__card" data-val="3">
  <span data-val="3" class="section--2__iframe-link-3" data-yt="https://www.youtube.com/embed/SzHcBeR1x_4?autoplay=1&mute=1">Sales Assistant (Outbound)</span>
  <img data-val="3" src="/image/icons8-total-sales-24.png" alt="">
  </div>
  
  <div class="section--2__card" data-val="4">
  <span data-val="4" class="section--2__iframe-link-4" data-yt="https://www.youtube.com/embed/ltJxOH2-New?autoplay=1&mute=1">Customer Support (Inbound)</span>
  <img data-val="4" src="/image/icons8-online-support-50.png" alt="">
  </div>
  
  <div class="section--2__card" data-val="5">
  <span data-val="5" class="section--2__iframe-link-5" data-yt="https://www.youtube.com/embed/ck4RGeoHFko?autoplay=1&mute=1">Website/Mobile Assistant</span>
  <img data-val="5" src="/image/icons8-google-mobile-50.png" alt="">
  </div>
  
  <div class="section--2__card" data-val="6">
  <span data-val="6" class="section--2__iframe-link-6" data-yt="https://www.youtube.com/embed/inWWhr5tnEA?autoplay=1&mute=1">Debt Collection Assistant</span>
  <img data-val="6" src="/image/icons8-debt-50.png" alt="">
  </div>
  </article>
  </div>
  </section>
<!-- HOW IT WORKS -->

<section class="section section--3 section--howitworks spacing" id="how-it-works">
  <h2>How it works</h2>
  <div class="section--3__component">
  
  <article class="section--3__card">
  <div class="section--3__topics"><h4>Design</h4> <h5>Craft your agent's blueprint</h5></div>
  <div>
  <div class="section--3__card-details">
  <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 24 24" fill="none">
  <path d="M10.2 14.8548L18.4728 6.5811L19.7463 7.8537L10.2 17.4L4.47241 11.6724L5.74501 10.3998L10.2 14.8548Z" fill="currentColor"></path>
  </svg>
  <p>Pre-Designed Flows</p>
  </div>
  <div class="section--3__card-details">
  <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 24 24" fill="none">
  <path d="M10.2 14.8548L18.4728 6.5811L19.7463 7.8537L10.2 17.4L4.47241 11.6724L5.74501 10.3998L10.2 14.8548Z" fill="currentColor"></path>
  </svg>
  <p>No-code workflow builder</p>
  </div>
  </div>
  </article>
  
  <article class="section--3__card">
  <div class="section--3__topics"><h4>Create</h4> <h5>Build Intelligent Multi-model solutions</h5></div>
  <div>
  <div class="section--3__card-details">
  <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 24 24" fill="none">
  <path d="M10.2 14.8548L18.4728 6.5811L19.7463 7.8537L10.2 17.4L4.47241 11.6724L5.74501 10.3998L10.2 14.8548Z" fill="currentColor"></path>
  </svg>
  <p>Pre-built FLows</p>
  </div>
  <div class="section--3__card-details">
  <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 24 24" fill="none">
  <path d="M10.2 14.8548L18.4728 6.5811L19.7463 7.8537L10.2 17.4L4.47241 11.6724L5.74501 10.3998L10.2 14.8548Z" fill="currentColor"></path>
  </svg>
  <p>Select Any LLM</p>
  </div>
  <div class="section--3__card-details">
  <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 24 24" fill="none">
  <path d="M10.2 14.8548L18.4728 6.5811L19.7463 7.8537L10.2 17.4L4.47241 11.6724L5.74501 10.3998L10.2 14.8548Z" fill="currentColor"></path>
  </svg>
  <p>Call Functions</p>
  </div>
  </div>
  </article>
  
  <article class="section--3__card">
  <div class="section--3__topics"><h4>Test</h4> <h5>ensure reliability with automation</h5></div>
  <div>
  <div class="section--3__card-details">
  <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 24 24" fill="none">
  <path d="M10.2 14.8548L18.4728 6.5811L19.7463 7.8537L10.2 17.4L4.47241 11.6724L5.74501 10.3998L10.2 14.8548Z" fill="currentColor"></path>
  </svg>
  <p>Automated QA tools</p>
  </div>
  <div class="section--3__card-details">
  <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 24 24" fill="none">
  <path d="M10.2 14.8548L18.4728 6.5811L19.7463 7.8537L10.2 17.4L4.47241 11.6724L5.74501 10.3998L10.2 14.8548Z" fill="currentColor"></path>
  </svg>
  <p>Continous Testing</p>
  </div>
  <div class="section--3__card-details">
  <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 24 24" fill="none">
  <path d="M10.2 14.8548L18.4728 6.5811L19.7463 7.8537L10.2 17.4L4.47241 11.6724L5.74501 10.3998L10.2 14.8548Z" fill="currentColor"></path>
  </svg>
  <p>Auto Test Run</p>
  </div>
  </div>
  </article>
  
  <article class="section--3__card">
  <div class="section--3__topics"><h4>Run</h4> <h5>Deploy Accrosss Channels effortlessly</h5></div>
  <div>
  <div class="section--3__card-details">
  <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 24 24" fill="none">
  <path d="M10.2 14.8548L18.4728 6.5811L19.7463 7.8537L10.2 17.4L4.47241 11.6724L5.74501 10.3998L10.2 14.8548Z" fill="currentColor"></path>
  </svg>
  <p>Multi-platform Deployment</p>
  </div>
  <div class="section--3__card-details">
  <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 24 24" fill="none">
  <path d="M10.2 14.8548L18.4728 6.5811L19.7463 7.8537L10.2 17.4L4.47241 11.6724L5.74501 10.3998L10.2 14.8548Z" fill="currentColor"></path>
  </svg>
  <p>Telephony Integration</p>
  </div>
  <div class="section--3__card-details">
  <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 24 24" fill="none">
  <path d="M10.2 14.8548L18.4728 6.5811L19.7463 7.8537L10.2 17.4L4.47241 11.6724L5.74501 10.3998L10.2 14.8548Z" fill="currentColor"></path>
  </svg>
  <p>Call Summarization & Sentiments</p>
  </div>
  </div>
  </article>
  
  <article class="section--3__card">
  <div class="section--3__topics"><h4>Monitor</h4> <h5>Track performance, optimize outcomes</h5></div>
  <div>
  <div class="section--3__card-details">
  <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 24 24" fill="none">
  <path d="M10.2 14.8548L18.4728 6.5811L19.7463 7.8537L10.2 17.4L4.47241 11.6724L5.74501 10.3998L10.2 14.8548Z" fill="currentColor"></path>
  </svg>
  <p>Latency Tracking</p>
  </div>
  <div class="section--3__card-details">
  <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 24 24" fill="none">
  <path d="M10.2 14.8548L18.4728 6.5811L19.7463 7.8537L10.2 17.4L4.47241 11.6724L5.74501 10.3998L10.2 14.8548Z" fill="currentColor"></path>
  </svg>
  <p>Accuracy Tracking</p>
  </div>
  <div class="section--3__card-details">
  <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 24 24" fill="none">
  <path d="M10.2 14.8548L18.4728 6.5811L19.7463 7.8537L10.2 17.4L4.47241 11.6724L5.74501 10.3998L10.2 14.8548Z" fill="currentColor"></path>
  </svg>
  <p>LLM Recommendations</p>
  </div>
  
  </div>
  </article>
  </div>
  </section>


  <!-- USE CASE -->

<section class="section section--4 section-usecases spacing" id="use-cases">
  <h2>Use Cases</h2>
  
  <div class="section-4__component">
  <article>
  <div class="banner">
  <img src="/image/usecase1.png" alt="">
  </div>
  <div>
  <h5>Text-Based Assistant</h5>
  <p>Effortlessly create a sophisticated chatbot with just a few clicks and seamlessly integrate it into any communication channel.</p>
  </div>
  </article>
  
  <article>
  <div class="banner">
  <img src="/image/usecase2.png" alt="">
  </div>
  <div>
  <h5>Inbound Call Agent</h5>
  <p>Handle customer calls with AI-powered agents that resolve inquiries, troubleshoot issues, and deliver exceptional support.</p>
  </div>
  </article>
  
  <article>
  <div class="banner">
  <img src="/image/usecase3.png" alt="">
  </div>
  <div>
  <h5>Outbound Call Agent</h5>
  <p>Leverage AI to initiate calls for customer satisfaction surveys, sales outreach, and other proactive engagements.</p>
  </div>
  </article>
  
  <article>
  <div class="banner">
  <img src="/image/usecase4.png" alt="">
  </div>
  <div>
  <h5>Digital Assistant</h5>
  <p>Develop your brand’s bespoke digital voice assistant to enhance customer experiences across web and mobile platforms.</p>
  </div>
  </article>
  </div>
  </section>

<!-- CONTACT SALES -->

<section class="section section--5 section--contactsales spacing" id="contact-us">
  <h2>Contact Us</h2>
  
  <div class="section--5__form">
  <form action="/contact-us" method="POST">
  
  <div class="form__input form__firstname">
  <label for="firstname">First name</label>
  <br>
  <br>
  <input type="text" name="firstName" id="firstname">
  </div>
  
  <div class="form__input form__lastname">
  <label for="lastname">Last name</label>
  <br>
  <br>
  <input type="text" name="lastname" id="lastname">
  </div>
  
  <div class="form__input form__email">
  <label for="email">Work Email</label>
  <br>
  <br>
  <input type="text" name="email" id="email">
  </div>
  
  <div class="form__input form__email">
  <label for="usecase">Your use case?</label>
  <br>
  <br>
  <textarea name="useCase" id="usecase" rows="4" cols="auto"></textarea>
  </div>
  
  <div>
  <button class="btn btn--ctn-sales btn--submit" type="submit" disabled >Submit</button>
  </div>
  </form>
  </div>
  
  <!-- Success Dialog -->
  <div id="successModal" class="modal">
  <div class="modal-content">
  <p id="successMessage">Form submitted successfully!</p>
  <span class="close-btn" id="closeSuccessModal">&times;</span>
  </div>
  </div>
  
  <!-- Error Dialog -->
  <div id="errorModal" class="modal">
  <div class="modal-content">
  <p id="errorMessage">There was an error submitting the form. Please try again.</p>
  <span class="close-btn" id="closeErrorModal">&times;</span>
  </div>
  </div>
  </section>
  
  

</main>

  <!-- FOOTER -->

  <footer class="footer">
    <section class="section--footer section">
     <div class="flex">
      <div class="footer__logo">
        <div class="voxover-logo"> <img src="/image/looo.png" alt="Logo" title="Voxover Logo"></div>
         <span>Voxover AI</span>
       </div>
 
       <div class="footer__social-medias">
         <a href="/">
           <img src="/image/icons8-instagram-50.png" alt="">
         </a>
 
         <a href="/">
           <img src="/image/icons8-discord-50.png" alt="">
         </a>
 
         <a href="/">
           <img src="/image/icons8-x-50.png" alt="">
         </a>

         <a href="/">
          <img src="/image/icons8-linkedin-50.png" alt="">
        </a>
       </div>
     </div>
    </section>
  </footer>
  <script src="/js/auth.js"></script>
  <script src="/js/main.js"></script>
  <script src="https://unpkg.com/typewriter-effect@latest/dist/core.js"></script>


</body>
</html>
